<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  Attached is the processed CSV file for <%= @file_name %>.pdf
  </body>
</html>